/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 May 2024, 11:55:55 pm
    Author     : Jian Wen Lee
*/
.backgroundColor1{
    -fx-background-color: linear-gradient(to right bottom,#97E7E1,#4D869C);
}

.backgroundColor2{
    -fx-background-color: linear-gradient(to right bottom,#F9EFDB,#7AB2B2);
}