/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 Jun 2024, 7:19:56 pm
    Author     : Tan Shi Han
*/

.list-view {
    -fx-background-color: rgba(255,255,255,0.1); /* White color with 10% transparency */
}

.list-cell {
    -fx-font-family: 'System';
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-background-color: transparent; /* White color with 10% transparency */
}